@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.responsive {
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 10px;
}

* {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    font-family: 'Kanit', sans-serif;
}

.row {
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30px;
}

.img {
    margin: 10px 10px 10px 100px;
}

.row .left {
    overflow: hidden;
}

.row .left .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row .right {
    display: flex;
    align-items: center;
}

.row .right .content {
    padding-left: 20px;
}

.row .right .content h4 p {
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
}

.h {
    width: 80%;
    height: 7px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #91d6bd;
}

@media screen and (max-width:1023px) {
    .row .right .content {
        padding-left: 0;
    }
}

@media screen and (max-width:576px) {
    .row {
        width: 90%;
        grid-template-columns: 1fr;
    }
}

/*css contact*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container {
    width: 85%;
    background: #91d6bd;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    margin: 40px 100px 20px 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.container .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
    text-overflow: calc();
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
}


.content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
    font-size: 14px;
    color: #afafb6;
}

.container .content .right-side {
    width: 75%;
    margin-left: 75px;
}

.content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #e6a078;
}

.right-side .input-box {
    height: 40px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}


.right-side .input-box textarea {
    padding-top: 6px;
}

.right-side .button {
    display: inline-block;
    margin-top: 12px;
}

.right-side .button input[type="button"] {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #f1b18b;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input[type="button"]:hover {
    background-color: blue;
}

@media (max-width: 950px) {
    .container {
        width: 70%;
        padding: 30px 40px 40px 35px;
    }

    .container .content .right-side {
        width: 80%;
        margin-left: 55px;
    }
}

@media (max-width: 820px) {
    .container {
        margin: 40px 0;
        height: 100%;
    }

    .container .content {
        flex-direction: column-reverse;
    }

    .container .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container .content .left-side::before {
        display: none;
    }

    .container .content .right-side {
        width: 100%;
        margin-left: 0;
    }
}

/*css review*/
textarea {
    width: 98%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin: 10px;
}

.button {
    float: right;
    margin-right: 15px;
}

.re {
    margin: 10px;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

.mcnTextContent {
    text-align: center;
}

hr {
    display: inline-block;
    width: 30%;
    border-color: #91d6bd;
}



.holdingcontainer {
    max-width: 100%;
    display: flex;
    padding: 50px;
    box-sizing: border-box;
    flex-direction: row;
}

.internalcontainerL {
    flex: 1;
    background-color: #f1b18b;
    padding: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin: 3px;
}

.internalcontainerM {
    flex: 1;
    background: pink;
    padding: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin: 3px;
}

.internalcontainerR {
    flex: 1;
    background-color: #91d6bd;
    padding: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin: 3px;
}

@media screen and (max-width: 768px) {
    .holdingcontainer {
        flex-direction: column-reverse;
    }
}

.bt {
    display: block;
    color: #fff;
    text-align: center;
    background-color: salmon;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 10px 5px;
}

.bt1 {
    display: block;
    color: #fff;
    text-align: center;
    background-color: salmon;
    margin-top: 34px;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 10px 5px;
}

.bt2 {
    display: block;
    color: #fff;
    text-align: center;
    background-color: salmon;
    margin-top: 48px;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 10px 5px;
}

/*nav css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    min-height: 100vh;
}

.icon {

    height: 30px;
    float: right;
    margin-top: 25px;
    margin-right: 20px;
    color: white;

}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 70px;
    background: #91d6bd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

nav .navbar {
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 50px;
}

.navbar .logo a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav .navbar .nav-links {
    line-height: 70px;
    height: 100%;
}

nav .navbar .links {
    display: flex;
}

nav .navbar .links li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
}

nav .navbar .links li a {
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
    transform: rotate(180deg);
}

nav .navbar .links li .arrow {

    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: #91d6bd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
    display: block;
}

.navbar .links li .sub-menu li {
    padding: 0 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.navbar .links li .sub-menu .more-arrow {
    line-height: 40px;
}

.navbar .links li .htmlCss-more-sub-menu {
    line-height: 40px;
}

.navbar .links li .sub-menu .more-sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
    display: block;
}

.navbar .search-box {
    position: relative;
    height: 40px;
    width: 40px;
}

.navbar .search-box i {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar .search-box .input-box {
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: #91d6bd;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.navbar.showInput .search-box .input-box {
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: #91d6bd;
}

.search-box .input-box::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #91d6bd;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
}

.search-box .input-box input {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
}

.navbar .nav-links .sidebar-logo {
    display: none;
}

.navbar .bx-menu {
    display: none;
}

@media (max-width:920px) {
    nav .navbar {
        max-width: 100%;
        padding: 0 25px;
    }

    nav .navbar .logo a {
        font-size: 27px;
    }

    nav .navbar .links li {
        padding: 0 10px;
        white-space: nowrap;
    }

    nav .navbar .links li a {
        font-size: 15px;
    }
}

@media (max-width:800px) {

    .navbar .bx-menu {
        display: block;
    }

    nav .navbar .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 270px;
        width: 100%;
        background: #91d6bd;
        line-height: 40px;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1000;
    }

    .navbar .nav-links .sidebar-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar-logo .logo-name {
        font-size: 25px;
        color: #fff;
    }

    .sidebar-logo i,
    .navbar .bx-menu {
        font-size: 25px;
        color: #fff;
    }

    nav .navbar .links {
        display: block;
        margin-top: 20px;
    }

    nav .navbar .links li .arrow {
        line-height: 40px;
    }

    nav .navbar .links li {
        display: block;
    }

    nav .navbar .links li .sub-menu {
        position: relative;
        top: 0;
        box-shadow: none;
        display: none;
    }

    nav .navbar .links li .sub-menu li {
        border-bottom: none;

    }

    .navbar .links li .sub-menu .more-sub-menu {
        display: none;
        position: relative;
        left: 0;
    }

    .navbar .links li .sub-menu .more-sub-menu li {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .links li:hover .htmlcss-arrow,
    .links li:hover .js-arrow {
        transform: rotate(0deg);
    }

    .navbar .links li .sub-menu .more-sub-menu {
        display: none;
    }

    .navbar .links li .sub-menu .more span {
        /* background: red; */
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
    }

    .links li .sub-menu .more:hover .more-sub-menu {
        display: none;
    }

    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu {
        display: none;
    }

    .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu {
        display: block;
    }

    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow {
        transform: rotate(180deg);
    }

    .navbar .nav-links.show2 .links .more-arrow {
        transform: rotate(90deg);
    }
}

@media (max-width:370px) {
    nav .navbar .nav-links {
        max-width: 100%;
    }
}

/*css history*/
.responsive {
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 10px;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: grid;
}

.row {
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30px;
}

.img {
    margin: 10px 10px 10px 100px;
}

.row .left {
    overflow: hidden;
}

.row .left .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row .right {
    display: flex;
    align-items: center;
}

.row .right .content {
    padding-left: 20px;
}

.row .right .content h4 p {
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
}

.h {
    width: 80%;
    height: 7px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #91d6bd;
}

@media screen and (max-width:1023px) {
    .row .right .content {
        padding-left: 0;
    }
}

@media screen and (max-width:576px) {
    .row {
        width: 90%;
        grid-template-columns: 1fr;
    }
}

/*footer*/
.allfoot {

    color: white;

}

.social a:visited {
    color: white;
}

.content1 {
    position: relative;
    margin: 130px auto;
    text-align: center;
    padding: 0 20px;
}

.content1 .text {
    font-size: 2.5rem;
    font-weight: 600;
    color: #91d6bd;
}

.content1 .p {
    font-size: 2.1875rem;
    font-weight: 600;
    color: #91d6bd;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #91d6bd;
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}

.box .content:before {
    position: absolute;
    content: "";
    top: -10px;
    height: 2px;
    width: 100%;
    background: #91d6bd;
}

.box .content:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 15%;
    background: #f1b18b;
    top: -10px;
}

.left .content p {
    text-align: justify;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .social a {
    padding: 0 2px;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: #91d6bd;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.left .content .social a span:hover {
    background: #f1b18b;
}

.center .content .fas {
    font-size: 1.4375rem;
    background: #f1b18b;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.center .content .fas:hover {
    background: #f1b18b;
}

.center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone {
    margin: 15px 0;
}

.right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: white;
}

.right form .msg {
    margin-top: 10px;
}

.right form input,
.right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: white;
    padding-left: 10px;
    border: 1px solid #f1b18b;
}

.right form input:focus,
.right form textarea:focus {
    outline-color: #3498db;
}

.right form input {
    height: 35px;
}

.right form .btn {
    margin-top: 10px;
}

.right form .btn button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #ff995e;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.right form .btn button:hover {
    background: #000;
}

.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #f1b18b;
}

.bottom center span {
    color: white;
}

.bottom center a:hover {
    text-decoration: underline;
}

footer {
    position: relative;
}

@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-content .box {
        margin: 5px 0;
    }
}